/* Written by z3ntu for z3ntu.github.io */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

* {
  text-align: center;
  font-family: 'Roboto';
  background-color: #222;
  color: #CCC;
  text-decoration: none;
}

body {
  clear: both;
}

#bold {
  font-weight: bold;
}

.text {
  margin: 0px;
}

.button {
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#333;
  /*background-color:#FA2;*/
  background-color: #97BE51;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  padding:4px 16px;
  text-shadow:#FE6 0 1px 0;
  cursor: pointer;
}

.button:hover {
  background-color: #FF9D00;
}

ol {
  list-style: none;
  padding: 0px;
}

.links {
  color: #8C8C8C;
}

.sections {
  color: #5197BE;
}

header {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;       /* Opera some */
  user-select: none;          /* Likely future */
}

.leftHeader {
  float: left;
  text-align: left;
  width: 40%;
  font-family: 'Slabo 27px';
  font-size: 2.3em;
}

.rightHeader {
  float: right;
  text-align: right;
  width: 40%;
  margin-top: 2em;
  font-size: 1em;
}

footer {
  margin-top: 5em;
}

.sm_links {
  margin: 0.7em;
}
